<div id="cards" class="container">

   <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add a comment</h4>

      <form id="note-form">
	      <div class="input-field col s12">
	        <textarea id="note-field" class="materialize-textarea"></textarea>
	        <label for="textarea1">Textarea</label>
	      </div>
	    </form>
    </div>
    <div class="modal-footer">
      <a href="#!" id="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>

  {{#each articles}}
  	{{#if this.isSaved}}
	    <div class="card blue-grey darken-2 z-depth-3">
	      <div class="card-content white-text">
	        <span class="card-title">{{this.title}}</span>
	        <p>{{this.summary}}</p>
	        <br>
	        <hr>
	      </div>

	      <div class="card-content notes white-text">

	      	<ul id="notes">
		      	{{#each this.note}}
		      		<li>-{{this.body}}</li>
		      	{{/each}}
		      </ul>

		       <a data-id={{this._id}} class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>






	      </div>

	      <div class="card-action">
	        <button id="save"  data-id="{{_id}}" class="waves-effect waves-light btn center red lighten-2">Delete</button>
	      </div>
	    </div>
	{{/if}}
  {{/each}}
</div>